@font-face {
    font-family: main;
    src: url(font/Cairo-Regular.ttf);
  }

html{
    direction: ltr;
}

*{
    font-family: main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap{
    margin: 0 auto !important;
    padding: 10px;
    width: 100%;
    height: auto;
 }

header{
    background-image: url(../img/header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header,footer,section,menu{
    border: 0px solid #ededed;
    width: 100%;
}

menu{
height:50px;
background-color: #2C303C;
}
menu ul{
   
}
menu ul li{
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
}
menu ul li:nth-child(6){
    float: right;
    text-align: center;
}

menu li a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
}
header,footer{
    height: 300px;
}
footer{
    position: relative;
    height: 400px;
    background-color:#2579DC ;
}

section{
text-align: center;
}
section ul li{
    display: inline-block;
    list-style: none;
    padding: 20px 30px;
}

.box{
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;   
   /* border: 2px solid rgba(69, 68, 210, 0.6);
    background-color:#4544D2;*/
    overflow: hidden;
}

.owl-box{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
    border:0px solid #4544D2;
    background-color:transparent;
    overflow: hidden;
}

.owl-box img{
    top: 0;
    left: 0;
    position: absolute;
    height: auto;
    max-width: 100%;
    z-index: 1;
    }

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    background-color: #4544D2;
}
#m-menu{
    color:#fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    display: none;
}
#bottom ul li{
    list-style: none;
    display: inline-block;
    padding:  20 10px;
}
#bottom ul li i{
    color: #fff;font-size: 20px;
}
#bottom ul li span{
    color:#fff;
}
.box img{
top: 0;
left: 0;
position: absolute;
height: auto;
max-width: 100%;
z-index: 1;
}
.circle{
    position: absolute;
    background-color: #2579DC;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    z-index: 2;
    clip-path: circle(100px at 0 0);
    opacity: 0.6;
}

.circle p{
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    margin-top:  50%;
}
.circle:hover{
    clip-path: circle(350px at 0 0);
}

input[type='text'],textarea{
    color: #4544D2;
    font-weight: bold;
}
#search-btn{
    border: 1px solid #ededed;
    border-radius: 25px;
    text-align: center;
}

.titles{
    background-color: #2579DC;
    width: 320px;
    margin: 50px 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.titles p{
    padding: 5px 50px;
    color: #fff;
    font-size: 28px;
}
@media only screen and (max-width: 360px) {
    section ul li {
        padding: 20px 0;
    }
    menu ul{
        display:none;
    }
    #m-menu{
        display: block;
    }

}
